#Não quero subir o meu arquivo de testes inciais é só um arquivo que eu crio para testar a lógica dos códigos na maioria das vezes. 
tests_iniciais.rb

#Não quero subir esse arquivo pois é um estudo simples sobre oq uma pessoa física e uma pessoa jurídica deve ter, serve como documentação interna somente.
PessoaFisica_PessoaJuridica.txt